{% for label, messages in app.flashes %}
    {% for message in messages %}

        <div class="alert alert-{{ label is same as 'granted' ? 'danger' : label }} alert-dismissible fade show" role="alert">
            {% if label is same as 'success' %}
                <span class="alert-inner--icon"><i class="fa fa-thumbs-up"></i></span>
            {% elseif label is same as 'warning' %}
                <span class="alert-inner--icon"><i class="fas fa-exclamation-circle"></i></span>
            {% elseif label is same as 'granted' %}
                <span class="alert-inner--icon"><i class="fas fa-lock"></i></span>
            {% else %}
                <span class="alert-inner--icon"><i class="fas fa-exclamation-triangle"></i></span>
            {% endif %}
            <span class="alert-inner--text"><strong>{{ label is same as 'granted' ? 'Redirigé' : label is same as 'warning' ? 'Remarque' : label is same as 'success' ? 'Succès' : label|title}} : </strong> {{ message|raw }}</span>
        </div>

    {% endfor %}
{% endfor %}