*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, nav {
    background-color: rgb(163, 221, 237)!important;
}

.navbar-collapse{
    background-color: blanchedalmond !important;
}

.polo{
    text-shadow: rgb(10, 48, 171) 1px 0 10px !important;
}

.pala a:hover {
    color:aliceblue;
    border-bottom: 1px solid aliceblue ;
}